{% block card %}
	<div class="card nowrap my-2 mx-2 col m-auto box-shadow" style="min-width: 15rem; max-width: 23rem">
		<img onclick="showScaledImage(`img/{{ picture.picture.picture }}`)" class="card-img-top py-1 d-block w-100" src="img/{{ picture.picture.picture }}" data-holder-rendered="true">
		<div id="img/{{ picture.picture.picture }}" class="scaled-img position-fixed invisible">
			<div class="d-flex position-fixed top-0 start-0 h-100 w-100 bg-black bg-opacity-50"></div>
			<div class="d-flex flex-row justify-content-start p-2 bg-light position-fixed">
				<img onclick="hideScaledImage(`img/{{ picture.picture.picture }}`)" class="img-fluid" src="img/{{ picture.picture.picture }}" alt="">
				<div class="d-flex flex-column">
					<div class="d-block p-4">
					{% if commercial %}
						<a href="?action=buy" class="btn btn-sm border-0 btn-lg btn-outline-success">Купить<strong> {{ picture.price }}$</strong></a>
						{% elif not commercial %}
							<a href="?action=like" class="btn btn-sm border-0 btn-outline-secondary"><i class="fa-solid fa-thumbs-up"></i> {{ picture.likes }}</a>
							<a href="?action=dislike" class="btn btn-sm border-0 btn-outline-danger"><i class="fa-solid fa-thumbs-down"></i> {{ picture.dislikes }}</a>
						{% endif %}
					</div>
					<div class="text-muted align-middle text-start my-2 py-0 px-3">
						<a class="btn btn-sm border-0 btn-outline-dark" href=""><i class="fa-brands fa-telegram"></i></a>
						<a class="btn btn-sm border-0 btn-outline-dark" href=""><i class="fa-brands fa-instagram"></i></a>
						<a class="btn btn-sm border-0 btn-outline-dark" href=""><i class="fa-brands fa-twitter"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="d-flex flex-column justify-content-end card-body border-1">
			<p class="card-text m-1">{{ picture.picture.name }}</p>
			<div class="d-flex justify-content-between align-items-center">
				<div class="btn-group">
					{% if commercial %}
						<a href="?action=buy" class="btn btn-sm border-0 btn-lg btn-outline-success">Купить<strong> {{ picture.price }}$</strong></a>
					{% elif not commercial %}
						<a href="?action=like" class="btn btn-sm border-0 btn-outline-secondary"><i class="fa-solid fa-thumbs-up"></i> {{ picture.likes }}</a>
						<a href="?action=dislike" class="btn btn-sm border-0 btn-outline-danger"><i class="fa-solid fa-thumbs-down"></i> {{ picture.dislikes }}</a>
					{% endif %}
				</div>
				<div class="text-muted align-middle text-end my-2 py-0 px-3">
					<a class="btn btn-sm border-0 btn-outline-dark" href=""><i class="fa-brands fa-telegram"></i></a>
					<a class="btn btn-sm border-0 btn-outline-dark" href=""><i class="fa-brands fa-instagram"></i></a>
					<a class="btn btn-sm border-0 btn-outline-dark" href=""><i class="fa-brands fa-twitter"></i></a>
				</div>
			</div>
			<div class="d-block text-muted text-end fs-6">{{ picture.date_created|date:"M d, Y" }}</div>
		</div>
	</div>

{% endblock %}