{% extends 'main/base.html' %}

{% block content %}
	<section class="jumbotron text-center">
		<div class="container">
			<h1 class="jumbotron-heading">Контакты</h1>
			<p class="lead text-muted">Здесь можно найти удобный способ связаться со мной.</p>
		</div>
	</section>

	<div class="container">
		<div class="row mb-3 text-center">
			<div class="card col m-2 box-shadow">
				<div class="card-header">
					<h4 class="my-0 font-weight-normal">Телефон</h4>
				</div>
				<div class="card-body">
					<ul class="list-unstyled fs-4 mt-3 mb-4">
						<li>+380 228 22 88 <i class="fa-solid fa-phone"></i></li>
						<li>+380 322 33 22 <i class="fa-solid fa-phone"></i></li>
					</ul>
				</div>
			</div>
			<div class="card col m-2 box-shadow">
				<div class="card-header">
					<h4 class="my-0 font-weight-normal">Соц.сети</h4>
				</div>
				<div class="card-body">
					<ul class="list-unstyled fs-4 mt-3 mb-4">
						<li>Twitter <i class="fab fa-twitter"></i></li>
						<li>Instagram <i class="fab fa-instagram"></i></li>
						<li>Telegram <i class="fab fa-telegram"></i></li>
					</ul>
				</div>
			</div>
			<div class="card col m-2 box-shadow">
				<div class="card-header">
					<h4 class="my-0 font-weight-normal">Почта</h4>
				</div>
				<div class="card-body">
					<ul class="list-unstyled fs-4 mt-3 mb-4">
						<li>marise@gmail.com <i class="fa-solid fa-envelope"></i></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}