{% extends 'main/base.html' %}

{% block content %}
	<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
		<h1 class="display-4">Цены на заказ</h1>
		<p class="lead">Я могу нарисовать работу на заказ, цена зависит от количества потраченого времени и сложности работы.</p>
	</div>

	<div class="container">
		<div class="row mb-3 text-center">
			<div class="card col m-2 box-shadow">
				<div class="card-header">
					<h4 class="my-0 font-weight-normal">Портрет</h4>
				</div>
				<div class="card-body">
					<h1 class="card-title pricing-card-title">$20</h1>
					<ul class="list-unstyled mt-3 mb-4">
						<li>1000x1000px</li>
						<li>Email support</li>
					</ul>
					<button type="button" class="btn btn-lg btn-block btn-outline-primary">Заказать</button>
				</div>
			</div>
			<div class="card col m-2 box-shadow">
				<div class="card-header">
					<h4 class="my-0 font-weight-normal">Персонаж</h4>
				</div>
				<div class="card-body">
					<h1 class="card-title pricing-card-title">$50</h1>
					<ul class="list-unstyled mt-3 mb-4">
						<li>от 1000x1000px</li>
						<li>Priority email support</li>
					</ul>
					<button type="button" class="btn btn-lg btn-block btn-primary">Заказать</button>
				</div>
			</div>
			<div class="card col m-2 box-shadow">
				<div class="card-header">
					<h4 class="my-0 font-weight-normal">Больше</h4>
				</div>
				<div class="card-body">
					<h1 class="card-title pricing-card-title">>$100</h1>
					<ul class="list-unstyled mt-3 mb-4">
						<li>Phone and email support</li>
					</ul>
					<button type="button" class="btn btn-lg btn-block btn-primary">Заказать</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}